.navigation:hover  {
     color: #4D5AE5;}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
     margin: 0;
     padding: 0;
}

ul {
     list-style: none;
}

.container {
     max-width: 1158px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
}
.body {
       color: #434455;
     
       background-color: #FFFFFF;
       font-family: "Roboto", sans-serif;
       font-size: 16px;
       line-height: 124%;
}
.title {
       max-width: 496px;
       margin-bottom: 48px;
       text-align: center;
       letter-spacing: 0.02em;
       font-weight: 700;
       font-size: 56px;
       line-height: 107%;
       padding-right: 101px;
       padding-left: 101px;
}
.team {
      padding-top: 124px ;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 72px;
       font-weight: 700;
       font-size: 36px;
       line-height: 111%;
       text-align: center;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       color: #2E2F42

}
.portfolio {
       color: #2E2F42;
       letter-spacing: 0.02em;
       font-weight: 500;
       font-size: 20px;
       line-height: 120%;
       letter-spacing: 0.02em;
       margin-bottom: 8px
}
.button {
       
       display: block;
       min-width: 169px;
       height: 56px;
       border: none;
       padding: 16px 32px;
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       background: #4D5AE5;
       color: #FFFFFF;
       cursor: pointer;
       border-radius: 4px;
      
}
.logo {
     margin-right: 76px;
     color: #4d5ae5;
     font-weight: 700;
     font-family:"Raleway", sans-serif;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
}
.span {
     color: #2e2f42;
          font-weight: 700;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
}
.section-team {
     background: #F4F4FD;
     display: flex;
     flex-wrap: wrap;
     padding: 120px 0px;
}
.section-h {
          padding: 188px 0px;
          background-color: #2E2F42;
          color: #FFFFFF;
          text-align: center;
}
.footer {
     background-color: #2E2F42;
     padding: 100px 0px;
}
.logo-footer {
     color: #4d5ae5;
     font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          display: inline-block;
          margin-bottom: 16px;
}
.footer-text {
     color: #F4F4FD;
           font-weight: 400;
           font-size: 16px;
           line-height: 1.5;
           letter-spacing: 0.02em;
}
.span-footer {
     color: #f4f4fd;
     display: inline-block;
}
.section-portfolio {
     color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 72px;
        padding-top: 102px;
        margin-bottom: 72px;
}   
.p2{
     font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455
}
.navigation-s{
     padding: 24px 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 500;
     
     color: #2e2f42;

}
.address{
     font-style: normal;
     display: flex;
}

.services{
     display: flex;
     font-weight: 500;
     font-size: 20px;
     line-height: 120%;
     text-align: center;
     letter-spacing: 0.02em;
     color: #2E2F42;
     margin-bottom: 8px;
}
.text-sevices{
     font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;
          text-align: center;
}
.li-taem {

     display: flex;
     padding-left: 117px;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     align-items: center;
     border-radius: 0 0 4px 4px;
     padding: 0px 0px 32px 0px;
     width: 264px;
     height: 380px;
     background-color: #FFFFFF;
     flex-basis: calc((100% - 3 * 24px) / 4)

}
.text-portfolio {
     font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455
}
.li-services {
     display: flex;
     margin-bottom: 8px;
     font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          text-align: center;
          letter-spacing: 0.02em;
          color: #2E2F42;
     }
.button:hover {
     background-color: #404bbf;
}
.navigation-s:hover {
     color: #404bbf;
}
.button:focus {
     background-color: #404bbf;
}
.navigation-s:focus {
     color: #404bbf;
}
.navigation-t:hover {
     color: #404bbf;
}
.navigation-t:focus {
     color: #404bbf;
}
.header-list {
     display: flex;
     gap: 40px;
     align-items: center;
     justify-content: space-between;
}
.header-container {
     display: flex;
     justify-content: space-around;
     align-items:  center; 
     }
.navigation-t {
     
     display: flex;
     gap: 40px;

     color: #434455;}
.ul-team {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 24px;
     padding-bottom: 116px;
   
}
.ul-portfolio {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     gap: 24px;
     padding-bottom: 120px;
     row-gap: 48px;
}
.ul-services {
     display: flex;
     gap : 24px;
     align-items: center;
     margin-top: 20px;
     padding: 120px 160px;
}
.header-nav{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 0px;
     gap: 76px;

}
.address-list {
     display: flex;
     gap: 40px;
     align-items: center;
     padding-top: 20px;
     }
.container-footer {
     display: flex;
     padding: 100px 886px 100px 0px;
     justify-content: flex-start;
     flex-direction: column;

}
header {
     border-bottom: 1px solid #e7e9fc

}
.section-services {
     padding: 120px 0px;
}
.services-list {
     width: calc((100% - 72px) / 4);
}
.team-container {
     padding: 32px 0px;

}
.section-port {
     padding-top: 120px;
     padding-bottom: 120px;
} 
.portfolio-container {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
}
    
img {
     display: block;
}
.portfolio-list {
     width: calc((100% - 48px) / 3);
    }
.logo-footer {
     display: inline-block;
         
}
.hidden {
          position: absolute;
          white-space: nowrap;
          width: 1px;
          height: 1px;
          overflow: hidden;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          margin: -1px;
}